body {
    font-family: Arial;
    font-size: 12px;
    background: grey;
}

header{
    background-color:rgb(99, 99, 194);
    padding: 5px;
}

header nav{
    text-align: center;
    background: green; 
    padding: 5px;
}

header nav a{
    color:bisque;
    background: green;
    padding: 5px;
}

/*
!!pseudoklasa!!
ponizej (najezdzajac na przycisk, kolor sie zmienia)
*/
header nav a:hover{
    background: rgb(3, 46, 3);

}

main {
    background-color:cornflowerblue; 
    padding: 5px;
}

main section {
    overflow: hidden;
}

main section a:hover {
    font-weight: bold;
}

.background-red {
    background: rgb(216, 7, 7);
}

.background-green {
    background: rgb(24, 216, 7);
}

.background-aqua {
    background: rgb(11, 196, 140);
}

.top-headline{
    color: blue;
}

.main-link {
    text-transform: uppercase;
}

main section p img {
    width: 400px;
    float: left;
    margin-right: 5px;
}

footer {
    padding: 5px;
}